rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }

    function isLoggedIn() {
      return request.auth != null;
    }

  	match /features/{featureId} {
    	allow read;
    }
    match /tokens/{tokenId} {
      allow create: if request.auth.uid == request.resource.data.uid;
      allow read, update, delete: if request.auth.uid == resource.data.uid;
    }
  }
}
